on property:vendor.all.modules.ready=1
    wait_for_prop init.svc.vendor.vibrator.cs40l26 running
    wait_for_prop init.svc.vendor.vibrator.cs40l26-dual running

    enable vendor.vibrator.cs40l26-stereo

service vendor.vibrator.cs40l26-stereo /vendor/bin/hw/android.hardware.vibrator-service.cs40l26-stereo-private
    class hal
    user root
    group root

    setenv HAPTIC_MGR_NAME HapticsMgr
    setenv PROPERTY_PREFIX ro.vendor.vibrator.hal.

    disabled
